body {
  background-color: #e8dff5;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.navbar {
  width: 1057px;
  height: 56px;
  border-radius: 50px;
  background: #fce1e4;
  position: fixed;
  top: 20px;
  left: 350px;
  align-items: center;
}

.navbar-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-menu {
  list-style: none;
  display: flex;
}

.nav-item {
  margin-right: 100px;
}

.nav-links {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
}

.navbar a {
  color: #232323;
  font-family: Capriola;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #000000;
}

h1 {
  line-height: 1.1;
  color: #232323;
  font-family: Capriola;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
}

.bigBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  margin-top: 13%;
  background-color: #747bff;
}

.MyServices {
  background-color: pink;
  width: 80vw;
}

.Projects {
  background-color: pink;
  width: 80vw;
}

.Projects h1 {
  text-align: end;
}

.Certifications {
  background-color: pink;
  width: 80vw;
}

.Certifications p {
  width: 16vw;
}

.GetinTouch {
  background-color: pink;
  width: 80vw;
}

.GetinTouch h1 {
  text-align: end;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

section {
  border-radius: 189.5px;
  background: #fce1e4;
  padding: 10px;
  margin: 30px;
  width: 346px;
  height: 346px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

section:hover {
  opacity: 0.5;
}

section p {
  display: none;
  position: absolute;
  font-size: 45px;
}

section:hover p {
  display: block !important;
  opacity: 1!important;
}

section img {
  display: flex;
  justify-content: center;
  width: 50%;
  height: auto;
  align-items: center;
}

button {
  border: none;
  border-radius: 189.5px;
  background: #fce1e4;
  padding: 10px;
  margin: 30px;
  width: 346px;
  height: 346px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

button:hover {
  opacity: 0.5;
}

button p {
  display: none;
  position: absolute;
  color: #232323;
  font-family: Capriola;
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

button:hover p {
  display: block !important;
  opacity: 1!important;
}

button img {
  display: flex;
  justify-content: center;
  width: 50%;
  height: auto;
  align-items: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
