/* Reset */
body {
  background-color: #dfc9ff;
  margin: 0;
  padding: 0;
}

/* Typography */
h1 {
  line-height: 1.1;
  color: #232323;
  font-family: Capriola;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
}