/* Reset */
body {
  margin: 0;
  padding: 0;
}

/* Sections */
.MyServices,
.Projects,
.Certifications,
.GetinTouch {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Navbar */
body.hide-navbar .navbar {
  display: none;
}

.navbar {
  width: 60%;
  height: 7%;
  border-radius: 50px;
  background: none;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  border: 3px solid #000;
}

.navbar-container {
  max-width: 1200px;
  margin: 0 auto;
}

.nav-menu {
  list-style: none;
  display: flex;
  padding: 0;
}

.nav-item {
  margin: 0 35px;
  cursor: pointer;
}

.nav-links,
.navbar a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

a:hover {
  color: #000000;
}

/* Typography */
h1 {
  line-height: 1.1;
  color: #232323;
  font-family: Capriola;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
}

/* Big Boxes */
.bigBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 105vh;
  margin: 0;
}

/* MyServices */
.MyServices {
  background-color: #e8dff5;
}

.MyServices h1 {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
  margin-right: auto;
  margin-left: 8vw;
}

.MyServices:hover h1 {
  opacity: 1;
  transform: translateY(0);
}

/* Projects */
.Projects {
  background-color: #dfc9ff;
}

.Projects h1 {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
  margin-right: 8vw;
  margin-left: auto;
}

.Projects:hover h1 {
  opacity: 1;
  transform: translateY(0);
}

/* Certifications */
.Certifications {
  background-color: #e8dff5;
}

.Certifications h1 {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
  margin-left: 8vw;
  margin-right: auto;
}

.Certifications:hover h1 {
  opacity: 1;
  transform: translateY(0);
}

.Certifications p {
  width: 16vw;
}

/* Get in Touch */
.GetinTouch {
  background-color: #dfc9ff;
}

.GetinTouch h1 {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
  margin-right: 8vw;
  margin-left: auto;
}

.GetinTouch:hover h1 {
  opacity: 1;
  transform: translateY(0);
}

/* Buttons and Images */
.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

button {
  cursor: pointer;
}

section,
button {
  border: 3px solid #232323;
  border-radius: 50%;
  background: #fce1e4;
  margin: 20px;
  width: 200px;
  height: 200px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

section:hover,
button:hover {
  opacity: 0.5;
}

section img,
button img {
  display: flex;
  justify-content: center;
  width: 50%;
  height: auto;
  align-items: center;
  transition: transform 0.5s ease-in-out;
}

.button-container button img,
.section-container img {
  transition: transform 0.5s ease-in-out;
}

.button-container button:hover img,
.section-container:hover img {
  transform: rotate(360deg) scale(0);
}

section p,
button p {
  display: none;
  position: absolute;
  color: #232323;
  font-family: Capriola;
  font-size: 25px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

section:hover p,
button:hover p {
  display: block !important;
  opacity: 1 !important;
}

/* Modal */
.close-button {
  width: 3px;
  height: 3px;
  position: absolute;
  top: 17px;
  right: 15px;
  font-size: 20px;
  background: none;
  border: none;
  cursor: pointer;
  color: #e8dff5;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  background-color: transparent;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  text-align: center;
}

.certification-content {
  text-align: center;
  color: white;
}

.certification-content h2 {
  margin-bottom: 10px;
}

.certification-content img {
  max-width: 100%;
  max-height: 80vh;
  border-radius: 10px;
}

/* Intro Section */
.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  height: 100vh;
}

.intro h1 {
  margin-bottom: 20px;
}

.intro-button {
  font-size: 15px;
  font-family: Capriola;
  text-align: center;
  width: 320px;
  height: auto;
  border: 6px double #000;
  cursor: pointer;
}

/* Game Container */
.game-container {
  margin: 0;
  overflow: hidden;
  font-family: "Arial", sans-serif;
  position: relative;
  height: 100vh;
}

.game-container::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: starsAnimation 20s linear infinite;
  background: radial-gradient(#dfc9ff 2px, transparent 1px),
    radial-gradient(#e8dff5 2px, transparent 1px);
  background-position: 0 0, 25px 25px;
  background-size: 50px 50px;
}

.game-container,
.game-container:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  border-color: 6px solid #dfc9ff;
}

/* Game */
.game {
  position: relative;
  width: 300px;
  height: 400px;
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  border: 6px solid #dfc9ff;
}

.game img {
  width: 100%;
  height: 100%;
}

/* Game Info */
.game-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
  transition: opacity 0.3s ease;
  overflow-y: auto;
}

.game-info::-webkit-scrollbar {
  width: 0;
}

.game-info h3 {
  margin-bottom: 10px;
}

.game-info p {
  margin: 0;
  margin-top: 120px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.4;
}

.game:hover .game-info {
  opacity: 1;
}

/* Button Container */
.button-container button {
  position: relative;
  overflow: hidden;
}

.button-container button img,
.section-container img {
  transition: transform 0.5s ease-in-out;
}

.button-container button:hover img,
.section-container:hover img {
  transform: rotate(360deg) scale(0);
}

.button-container button p,
.section-container p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.button-container button:hover p,
.section-container:hover p {
  opacity: 1;
}

/* Stars Animation */
@keyframes starsAnimation {
  0% {
    background-position: 0 0, 25px 25px;
  }
  100% {
    background-position: 50px 50px, 75px 75px;
  }
}

/* Light Mode */
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}